name: CI
on:
  pull_request:
  push:
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
      with:
        java-version: 8
        distribution: adopt
    - uses: coursier/cache-action@v6
    - uses: sbt/setup-sbt@v1
    - run: sudo apt-get update
    - run: sudo apt-get install graphviz
    - run: sbt -v test
